<section class="main">
    <ul class="todo-list">
        <!-- <li class="completed">
            <div class="view">
                <input class="toggle" type="checkbox" checked />
                <label>Learn JavaScript</label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
        </li>
        <li>
            <div class="view">
                <input class="toggle" type="checkbox" />
                <label>Buy a unicorn</label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
        </li>
        <li class="editing">
            <div class="view">
                <input class="toggle" type="checkbox" />
                <label>Make dishes</label>
                <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
        </li> -->
        <li *ngFor="let task of taskList">
            <div class="view">
                <input class="toggle" type="checkbox" />
                <label>{{task}}</label>
                <button class="destroy"></button>
            </div>
            <input class="edit" [value]="task" />
        </li>
    </ul>
</section>
