<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{ getPendingTasksCount() }}</strong> item{{ getPendingTasksCount() === 1 ? '' : 's' }} left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a routerLink="/all" ngClass="{{ filterSelected === 'all' ? 'selected' : '' }}">All</a>
    </li>
    <li>
      <a routerLink="/pending" ngClass="{{ filterSelected === 'pending' ? 'selected' : '' }}">Pending</a>
    </li>
    <li>
      <a routerLink="/completed" ngClass="{{ filterSelected === 'completed' ? 'selected' : '' }}">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button
    *ngIf="someCompleted()"
    (click)="deleteCompletedTasks()"
    class="clear-completed"
  >Clear completed</button>
</footer>
