<!-- This footer should be hidden by default and shown  when there are todos -->
<footer class="footer" id="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count">
    <strong>{{ todoLength }}</strong>
    {{ todoLength === 1 ? "item" : "items" }} left</span
  >
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="selected"
        >All</a
      >
    </li>
    <li>
      <a
        routerLink="/pending"
        routerLinkActive="selected"
        >Pending</a
      >
    </li>
    <li>
      <a
        routerLink="/completed"
        routerLinkActive="selected"
        >Completed</a
      >
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button *ngIf="todoLength" (click)="clearCompleted()" class="clear-completed">
    Clear completed
  </button>
</footer>
