<!-- This footer should be hidden by default and shown when there are todos -->
<footer class="footer" *ngIf="tasksCount">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count">
      <strong>{{pendingTasks}}</strong> 
      {{pendingTasks | i18nPlural:itemMap}}</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a routerLink="/all" [class.selected]="route == 'all' || route == undefined">All</a>
      </li>
      <li>
        <a routerLink="/pending" [class.selected]="route == 'pending'">Pending</a>
      </li>
      <li>
        <a routerLink="/completed" [class.selected]="route == 'completed'">Completed</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" *ngIf="completedTasks > 0" (click)="clear()">Clear completed</button>
  </footer>
