<ng-container *ngIf="$tasks | async as tasks">
  <footer *ngIf="tasks.length > 0" class="footer">
    <!-- This should be `0 items left` by default -->
    <ng-container *ngIf="$pendingCounter | async as pendingCounter ">
      <span class="todo-count"><strong>{{ pendingCounter.length }}</strong> items left</span>
    </ng-container>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters" *ngIf="filter$ | async as filter">
      <li>
        <a routerLink="/" [class.selected]="filter === 'all'">All</a>
      </li>
      <li>
        <a routerLink="/pending" [class.selected]="filter === 'pending'">Pending</a>
      </li>
      <li>
        <a routerLink="/completed" [class.selected]="filter === 'completed'">Completed</a>
      </li>
    </ul>
    <ng-container *ngIf="completedTask$ | async as completedTasks">
      <button *ngIf="completedTasks.length > 0" (click)="clearCompleted()" class="clear-completed">Clear
        completed</button>
    </ng-container>
  </footer>
</ng-container>