<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="inputControl"
        (keydown.enter)="addTask()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" [ngClass]="(tasks$ | async)?.length === 0 ? 'hidden' : 'false'">
      <ul class="todo-list" *ngFor="let task of (tasks$ | async)">
        <app-task [task]="task"></app-task>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="totalCount > 0">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong>{{ countPending }}</strong> {{countPending === 1 ? 'item' : 'items'}} left</span
      >
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/all" [ngClass]="{'selected': filterName === '' || filterName === 'all'}">All</a>
        </li>
        <li>
          <a routerLink="/pending" routerLinkActive="selected">Pending</a>
        </li>
        <li>
          <a routerLink="/completed" routerLinkActive="selected">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button *ngIf="countCompleted > 0" class="clear-completed" (click)="clearCompleted()">Clear completed</button>
    </footer>
  </div>
</section>
