<section 
class="todoapp">
  <app-header></app-header>
  <div 
  class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section 
    *ngIf="this.tasks.length > 0" 
    id="main" 
    class="main">
      <ul 
      class="todo-list">
        <app-task 
        [task]="task" 
        *ngFor="let task of tasks"
        ></app-task>
      </ul>
    </section>
    <app-footer 
    *ngIf="this.tasks.length > 0"
    (clearCompleted)="clearCompleted()"></app-footer>
  </div>
</section>
