<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="titleField"
        (keydown.enter)="addHomeWork()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="!isEmpty" id="main">
      <ul class="todo-list">
        <!-- <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>Learn JavaScript</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Learn JavaScript" />
        </li> -->
        <li
          *ngFor="let item of toDoList; let i = index"
          [ngClass]="changeClass(item)"
          id="{{ i }}"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              (change)="checkboxChange($event, item)"
              [checked]="validateCompleted(item)"
            />
            <label (click)="updateTask(item)">{{ item.title }}</label>
            <button class="destroy" (click)="destroyTask(item.id)"></button>
          </div>
          <input class="edit"  [formControl] = "titleFieldEdit"  (keydown.enter)="editTask()"/>
        </li>
        <!-- <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Make dishes</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Make dishes" />
        </li> -->
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="!isEmpty" id="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong>{{ toDoList.length }}</strong> {{ item }} left</span
      >
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" [class.selected]="filterAll">All</a>
        </li>
        <li>
          <a routerLink="/pending" [class.selected]="filterPending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed"  [class.selected]="filterCompleted">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" (click)="clearCompleted()" *ngIf="hasCompleted" >Clear completed</button>
    </footer>
  </div>
</section>
