<!-- This section should be hidden by default and shown when there are todos -->
<section class="main">
  <ul class="todo-list">
    <li *ngFor="let task of listTasks" [ngClass]="{ completed: isTaskCompleted(task) }">
      <div class="view">
        <input class="toggle" type="checkbox" [checked]="isTaskCompleted(task)" />
        <label>{{ task.name }}</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Buy a unicorn" />
    </li>
    <li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked />
        <label>Learn JavaScript</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Learn JavaScript" />
    </li>
    <li>
      <div class="view">
        <input class="toggle" type="checkbox" />
        <label>Buy a unicorn</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Buy a unicorn" />
    </li>
    <li class="editing">
      <div class="view">
        <input class="toggle" type="checkbox" />
        <label>Make dishes</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value="Make dishes" />
    </li>
  </ul>
</section>
