<!-- This section should be hidden by default and shown when there are todos -->
<section class="main">
  <ul class="todo-list">
    <li (dblclick)="startEditingTask(task)"
      *ngFor="let task of listTasks"
      [ngClass]="{
        completed: isTaskCompleted(task),
        editing: editingTaskId === task.id
      }"
    >
      <div class="view">
        <input
          class="toggle"
          type="checkbox"
          [checked]="isTaskCompleted(task)"
          (change)="changeStatusTask(task)"
        />
        <label>{{ task.name }}</label>
        <button class="destroy" (click)="deleteTask(task)"></button>
      </div>
      <input
        [id]="'inputTaskName' + task.id"
        class="edit"
        [value]="task.name"
        (keyup.enter)="updateNameTask($event, task)"
        (keyup.escape)="cancelEditingTask()"
      />
    </li>
  </ul>
</section>
