<section class="main" *ngIf="(todoReactiveStorage$|async) as todos">
    <ul class="todo-list" *ngFor="let todo of todos">
        <li (dblclick)="changeToEditMode(todo.id)"
            (keydown.esc)="removeEditMode()" [class.completed]="todo.completed && todo.id != todoForEditing"
            [class.editing]="todo.id == todoForEditing">
            <div class="view">
                <input class="toggle" type="checkbox" [checked]="todo.completed"
                    (change)="changeStatus(todo.id)" />
                <label>{{todo.title}}</label>
                <button class="destroy" (click)="deleteTodo(todo.id)"></button>
            </div>
            <input class="edit" [value]="todo.title.trim()" #titleForTodo
                (keyup.enter)="changeTodoTitle(titleForTodo, todo.id)" />
        </li>
    </ul>
</section>