<ul class="todo-list">
  <li
    *ngFor="let task of listTasks"
    [ngClass]="{
      completed: task.completed,
      editing: isEdit && task.id === idEdit
    }"
  >
    <div class="view">
      <input
        class="toggle"
        type="checkbox"
        [checked]="task.completed"
        (click)="cambiarEstadoTask(task)"
      />
      <label (click)="editarTask(task)">{{ task.title }}</label>
      <button class="destroy" (click)="eliminarTask(task.id)"></button>
    </div>
    <input
      class="edit"
      [value]="valueTask"
      autofocus
      [(ngModel)]="valueTask"
      (keydown)="actualizarTask($event)"
    />
  </li>
</ul>
<!--  
     <li>
    <div class="view">
      <input class="toggle" type="checkbox" />
      <label>Buy a unicorn</label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="Buy a unicorn" />
  </li>
  <li class="editing">
    <div class="view">
      <input class="toggle" type="checkbox" />
      <label>Make dishes</label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="Make dishes" />
  </li> -->
